<div style="font-size:18pt; padding-top:20px; text-align:center">СЕМИНАР. <b>Введение в </b> <span style="font-weight:bold; color:green">Pandas</span></div><hr>
<div style="text-align:right;">Папулин С.Ю. <span style="font-style: italic;font-weight: bold;">(papulin.study@yandex.ru)</span></div>

<a name="0"></a>
<div><span style="font-size:14pt; font-weight:bold">Содержание</span>
    <ol>
        <li><a href="#1">Основные типы данных в Pandas</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#1a">Последовательность</a></li>
                <li><a href="#1b">Табличная структура данных (DataFrame)</a></li>
            </ol>
        <li><a href="#2">Первые шаги с DataFrame</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#2a">Создание DataFrame</a></li>
                <li><a href="#2b">Обращение к элементам</a></li>
                <li><a href="#2c">Запись содержания DataFrame во внешний файл</a></li>
                <li><a href="#2d">Загрузка внешних данных в DataFrame</a></li>
            </ol>
        <li><a href="#3">Манипулирование DataFrame'ми</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#3a">Столбцы</a></li>
                <li><a href="#3b">Строки</a></li>
                <li><a href="#3c">Значения ячеек</a></li>
                <li><a href="#3d">Группировка</a></li>
                <li><a href="#3e">Сортировка</a></li>
                <li><a href="#3f">Сложные индексы</a></li>
                <li><a href="#3g">Объединение DataFrame'ов: <i>append, concat, merge, join</i></a></li>
                <li><a href="#3h">Методы <i>iterrows</i>, <i>map</i>, <i>apply</i>, <i>applymap</i></a></li>
            </ol>
        <li><a href="#4">Математическая поддержка</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#4a">Операции со столбцами</a></li>
                <li><a href="#4b">Специальные методы</a></li>
            </ol>
        <li><a href="#5">Визуализация данных</a></li>
            <ol style = "list-style-type:lower-alpha">
                <li><a href="#5a">График (plot)</a></li>
                <li><a href="#5b">Гистограмма</a></li>
            </ol>
        <li><a href="#6">Источники</a></li>
    </ol>
</div>

Подключение стилей оформления

In [ ]:
%%html
<link href="css/style.css" rel="stylesheet" type="text/css">

<a name="1"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">1. Основные типы данных в <span style="font-weight:bold; color:green">Pandas</span></div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

<div>
<p><b>Рассматриваемые вопросы:</b></p>
<p style="line-height:20pt">
a) последовательность <span style="font-weight:bold; color:green">Series</span><br> 
b) табличная структура <span style="font-weight:bold; color:green">DataFrame</span><br> 
</div>

In [ ]:
import pandas as pd
import numpy as np

<a name="1a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. Последовательность (<span style="font-weight:bold; color:green">Series</span>)</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#1">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#1b">Далее</a></div>
    </div>
</div>

<p>Последовательность <span style="font-weight:bold; color:green">Series</span> - одномерный массив с метками (индексами) для хранения различных типов данных: целых (integer), действительных чисел (float), строк (string), объектов Python</p>

In [ ]:
data  = ['Dima', 'Sveta', 'Alex', 'Ivan', 'Kate', 'Maria']
# index = list(range(1,7))

s = pd.Series(data=data, name='Name')
s

In [ ]:
data  = [-2.011894, 0.098981, 0.693385, 1.055508, 0.640023]
index = ['a', 'b', 'c', 'd', 'e']

In [ ]:
s2 = pd.Series(data=data, index=index, name='Number')
s2

In [ ]:
data  = [-2.0, 0.0, 0.0, 1.0, 0.0]
index = ['a', 'b', 'c', 'd', 'e']

In [ ]:
s3 = pd.Series(data=data, index=index, name='Number', dtype='int32')
s3

Вывод первых (`head`) и последних (`tail`) $n$ значений

In [ ]:
s.head(2)

In [ ]:
s.tail(2)

Возврат `numpy` массива

In [ ]:
s.to_numpy()

In [ ]:
s.values

<p>Обращение к элементам <span style="font-weight:bold; color:green">Series</span></p>

In [ ]:
s

In [ ]:
s[3]

In [ ]:
s2

In [ ]:
s2['b'], s2[1], s2.iloc[1], s2.loc['b']

In [ ]:
s[3] = "NewAlex"
s

<a name="1b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Табличная структура данных (<span style="font-weight:bold; color:green">DataFrame</span>)</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#1a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#1c">Далее</a></div>
    </div>
</div>

<p>Табличная структура <span style="font-weight:bold; color:green">DataFrame</span> - двумерный массив с метками</p>

In [ ]:
rand_matrix = np.random.randn(4,3)
rand_matrix

In [ ]:
cmls = ['Column_1', 'Column_2', 'Column_3']
cmls

In [ ]:
df = pd.DataFrame(data=rand_matrix, columns=cmls)
df

In [ ]:
df2 = pd.DataFrame(data=rand_matrix, columns=cmls, index=['a','b','c','d'])
df2

<p>Вывод первых и последних $n$ значений</p>

In [ ]:
df2.head(2)

In [ ]:
df2.tail(2)

Возврат `numpy` массива

In [ ]:
df.to_numpy()

In [ ]:
df.values

<p>Способы обращения к столбцам, строкам и ячейкам <span style="font-weight:bold; color:green">DataFrame</span>'а рассматриваются в следующих разделах</p>

<a name="2"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">2. Первые шаги с <span style="font-weight:bold; color:green">DataFrame</span></div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

Рассматриваемые вопросы:

a) создание `DataFrame`'а: с использованием матрицы, списков, словаря, последовательностей <br>
b) обращение к элементам <br>
c) запись содержания `DataFrame`'а во внешний файл: `csv` формат данных <br>
d) загрузка внешних данных в `DataFrame`: обращение к ячейкам, изменение значений

<a name="2a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. Создание <span style="font-weight:bold; color:green">DataFrame</span>'а</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#2">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#2b">Далее</a></div>
    </div>
</div>

<p>Создание <span style="font-weight:bold; color:green">DataFrame</span>'а с использованием <i>матрицы</i></p>

In [ ]:
matrix = [
    ['Dima', 'Moscow', 1988, 4, 'm'],
    ['Sveta', 'Kiev', 1999, 4, 'f'],
    ['Alex', 'Minsk', 1954, np.NaN, 'm'],
    ['Ivan', 'St.Petersburg', 2005, 6, 'm'],
    ['Kate', 'London', 2001, np.NaN, 'f'],
    ['Maria', 'New York', 1997, 7, 'f']
]

matrix

In [ ]:
columns = ['Name', 'City', 'Year', 'Grade', 'Gender']

df = pd.DataFrame(data=matrix, columns=columns)
df

In [ ]:
df.info()

In [ ]:
def init_df():
    return pd.DataFrame(data=matrix, columns=columns)

<p>Создание <span style="font-weight:bold; color:green">DataFrame</span>'а с использованием <i>списков</i> и <b>zip()</b></p>

In [ ]:
names = ["Dima", "Sveta","Alex", "Ivan", "Kate", "Maria"]
cities = ["Moscow", "Kiev", "Minsk", "St.Petersburg", "London", "New York"]
year = [1988, 1999, 1954, 2005, 2001, 1997]
grades = [4, 4, np.NaN, 6, np.NaN, 7]
gender = ["m", "f", "m", "m", "f", "f"]

rows = list(zip(names, cities, year, grades, gender))
rows

In [ ]:
df = pd.DataFrame(data=rows, columns=['Name', 'City', 'Year', 'Grade', 'Gender'])
df

<p>Создание <span style="font-weight:bold; color:green">DataFrame</span>'а с использованием <i>списков</i> и <i>словаря</i></p>

In [ ]:
d_data = {
    'Name': ["Dima", "Sveta","Alex", "Ivan", "Kate", "Maria"],
    'City': ["Moscow", "Kiev", "Minsk", "St.Petersburg", "London", "New York"],
    'Year': [1988, 1999, 1954, 2005, 2001, 1997],
    'Grade': [4, 4, np.NaN, 6, np.NaN, 7],
    'Gender': ["m", "f", "m", "m", "f", "f"]
}
d_data

In [ ]:
df = pd.DataFrame(data=d_data)
df

<p>Чтобы указать последовательность столбцов, следует воспользоваться параметром <i>columns</i></p>

In [ ]:
df = pd.DataFrame(data=d_data, columns=['Name', 'Year', 'City', 'Grade', 'Gender'])
df

<p>Создание <span style="font-weight:bold; color:green">DataFrame</span>'а с использованием <i>последовательностей</i></p>

In [ ]:
s1 = pd.Series(data=["Dima", "Sveta", "Alex", "Ivan", "Kate", "Maria"], name="Name")
s2 = pd.Series(data=["Moscow", "Kiev", "Minsk", "St.Petersburg", "London", "New York"], name="City")
s3 = pd.Series(data=[1988, 1999, 1954, 2005, 2001, 1997], name="Year")
s4 = pd.Series(data=[4, 4, np.NaN, 6, np.NaN, 7], name="Grade")
s5 = pd.Series(data=['m', 'f', 'm', 'm', 'f', 'f'], name="Gender")

df1 = pd.DataFrame(data=[s1,s2,s3,s4,s5])
df1

In [ ]:
df1 = df1.T
df1

In [ ]:
df2 = pd.DataFrame({"Name": s1.values, "City": s2.values, "Year": s3.values})
df2

Чтобы изменить стандартную индексацию от 0, можно воспользоваться следующим выражением

In [ ]:
df.index = df.index + 1  # индексация будет от 1
df

<p>Доступ к индексам</p>

In [ ]:
df.index

<p>Доступ к именам столбцов</p>

In [ ]:
df.columns

<a name="2b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Обращение к элементам <span style="font-weight:bold; color:green">DataFrame</span></div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#2a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#2c">Далее</a></div>
    </div>
</div>

Обращение к элементу по **индексу** строки и имени столбца

In [ ]:
df

In [ ]:
df.loc[2, 'City']

Обращение к элементу по **номеру** строки и номеру столбца

In [ ]:
df.iloc[2, 2]

<a name="2c"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">c. Запись содержания <span style="font-weight:bold; color:green">DataFrame</span> во внешний файл</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#2b">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#2d">Далее</a></div>
    </div>
</div>

Pandas позволяет работать с различными форматами файлов, такими как `csv`, `excel`, `xml`, `json` и др. Более подробно [здесь](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html). <br>
В качестве примера далее рассматривается небольшой пример того, как значения `DataFrame`'а записать во внешний файл csv, а затем загрузить из него данные обратно в `DataFrame`

Запись данных в файл `csv`

In [ ]:
df.to_csv("testFile.csv", index=False, header=True)

<a name="2d"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">d. Загрузка внешних данных в <span style="font-weight:bold; color:green">DataFrame</span></div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#2c">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3">Далее</a></div>
    </div>
</div>

In [ ]:
df1 = pd.read_csv("testFile.csv")
df1

<a name="3"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-size:14pt; font-weight:bold">3. Манипулирование <span style="font-weight:bold; color:green">DataFrame</span>'ми</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
</div>

<div style="padding-bottom:10px; border-bottom:1px solid lightgrey"></div>

<div>
    
Рассматриваемые вопросы: <br>

a) работа со столбцами: *выбор данных по столбцам, добавление/удаление столбца* <br>
b) работа со строками: *выбор строк по индексу, использование условий, добавление/удаление строк* <br>
c) работа с ячейками: *обращение к ячейкам, изменение значений* <br>
d) использованием метода `groupby` для группировки <br>
e) сортировка строк <br>
f) формирование сложных индексов <br>
g) объединение нескольких `DataFrame`'ов: `append`, `concat`, `merge`, `join` <br>
h) методы `iterrows`, `map`, `apply`, `applymap`

</div>

<a name="3a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. Столбцы</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3b">Далее</a></div>
    </div>
</div>

<p>Исходный <span style="font-weight:bold; color:green">DataFrame</span></p>

In [ ]:
df

#### Выбор столбцов

<p>Получение последовательности по имени столбца</p>

In [ ]:
s_name = df['Name']
s_name

In [ ]:
s_name = df.Name
s_name

In [ ]:
type(s_name)

<p>Получение DataFrame по столбцу</p>

In [ ]:
df_name = df[['Name']]  # обращение по имени столбца
df_name

In [ ]:
df_name = df[[df.columns[0]]]  # обращение по индексу столбца
df_name

In [ ]:
# получение датафрейма из последовательности
df_name = df['Name'].to_frame()  # .to_frame("your_column_name")
df_name

In [ ]:
type(df_name)

<p>Использование нескольких столбцов для выбора данных</p>

In [ ]:
df_select = df[['Name', 'City']]
df_select

Метод `filter`

In [ ]:
df.filter(items=['Name', 'City'], axis=1)

In [ ]:
df.filter(like='i', axis=1)

In [ ]:
df.filter(regex='i', axis=1)

Получение уникальных значений столбца

In [ ]:
df.Name.unique()

In [ ]:
df['Gender'].unique()

#### Добавление/изменение столбца

In [ ]:
df['NewColumn'] = [4, 5, 7, 3, 2, 6]  # добавление
df

In [ ]:
df['Grade'] = [1, 1, 1, 1, 1, 1]  # изменение
df

In [ ]:
df['Grade'] = [4, 4, np.NaN, 6, np.NaN, 7]
df

In [ ]:
if 'NewColumn2' not in df.columns:
    df.insert(loc=1, value=[10,40,50,30,70,49], column='NewColumn2')  # loc - позиция столбца
df

Создание из исходного `df` нового `DataFrame`'а `df2` без столбца `NewColumn` </p>

In [ ]:
df2 = df.drop('NewColumn', axis=1, inplace=False)  # axis = 1 - удаление столбца
df2

In [ ]:
df

Удаление столбцов из исходного `DataFrame`'а

In [ ]:
df.drop(['NewColumn', 'NewColumn2'], axis=1, inplace=True)  # удаление нескольких столбцов
df

<a name="3b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Строки</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3c">Далее</a></div>
    </div>
</div>

Исходный `DataFrame`

In [ ]:
df

#### Фильтрация строк

<p>Выбор строк по <b>индексу</b></p>

In [ ]:
df.loc[2]

<p>Выбор строк по <b>позиции</b> (номер строки начиная с 0)</p>

In [ ]:
df.iloc[2]

Использование диапазона позиций

In [ ]:
df[:3]

In [ ]:
df[1:4]

<p>Использование условий</p>

In [ ]:
df[df['Name']=='Dima']

In [ ]:
df[df['Grade']>=5]

In [ ]:
df[df.Grade>=5]

In [ ]:
df[(df.Grade>=5) & (df.Gender=='f')]  # операция "И"

In [ ]:
df[(df.Grade==4) | (df.Grade==6)]  # операция "ИЛИ"

In [ ]:
cond = (df.Grade==4) | (df.Grade==6)

In [ ]:
cond

In [ ]:
df[cond]

Содержание подстроки

In [ ]:
cond = df["Name"].str.lower().str.contains("ima")
cond

In [ ]:
df[cond]

Применение метода `isin` для вывода строк, в которых значение заданного столбца содержится в списке

In [ ]:
l_cities = ['Moscow', 'Minsk']

In [ ]:
df.City.isin(l_cities)

In [ ]:
df2 = df[df.City.isin(l_cities)]
df2

Функция `isnan`

In [ ]:
df[pd.isna(df.Grade)]  # строки с неопредленным значнием Grade

Функция `notna`

In [ ]:
df[pd.notna(df.Grade)]  # notnull

#### Метод `filter`

In [ ]:
cond = (df.Grade==4) | (df.Grade==6)
indx = df.index[cond]

df.filter(items=indx, axis=0)

#### Метод `query`

In [ ]:
# тоже с методом query
df.query('Grade == 4 | Grade == 6')

In [ ]:
a = 4
df.query(f'Grade == {a} | Grade == 6')

In [ ]:
grade_list = [4, 6]
df.query('Grade == @grade_list')

In [ ]:
df.query('Grade + 5 > 10')

#### Добавление/изменение строки

In [ ]:
df

In [ ]:
# Добавление строки с указанием индекса
df.loc[10] = ['NewName', 'NewCity', 2016, 1, 'f']
df

In [ ]:
# Изменение строки с указанием её номера
df.loc[4] = ['ChangedIvan', 'St.Petersburg', 2005, 6, 'm']
df

In [ ]:
# Изменение строки по индексу строки
df.iloc[0] = ['Changed', 'Changed', 2000, 10, 'm']
df

Метод `fillna` заполняет пустые ячейки значением аргумента

In [ ]:
df4 = df['Grade'].fillna(-1)  # возвращает новый DataFrame
pd.DataFrame(df4)

<p>Удаление строки</p>

In [ ]:
# Удаление по номеру строки, axis = 0 - строки, inplace = True - удаляет в df
df.drop(df.index[6], axis=0, inplace=True)
df

In [ ]:
# Удаление по индексу строки
df.drop(df.index[df.index==1], axis=0, inplace=True)
df

In [ ]:
df2 = df.drop(df.index[df.index==2], axis=0, inplace=False)
df2

In [ ]:
df

Удаление всех строк, в которых есть неопределенное значение (`NaN`)

In [ ]:
df.dropna()  # возвращает новый DataFrame

<a name="3c"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">c. Значения ячеек</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3b">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3d">Далее</a></div>
    </div>
</div>

<p>Обращение по <b>индексу</b> строки</p>

In [ ]:
df.loc[2, 'City']

<p>Обращение по <b>позиции</b> (номеру) строки</p>

In [ ]:
df.iloc[2, 1]

Пример использования с циклом `for`

In [ ]:
# Изменение значений в столбце Grade на +10
# Замечение: есть более простой способ для такой операции (см. раздел 4)
for i in range(len(df)):
    df.iloc[i, 3] += 10
df

<p>Срезы по строкам</p>

In [ ]:
df.loc[:, 'City']

In [ ]:
df.iloc[:, 2]

<p>Срезы по строкам и столбцам</p>

In [ ]:
df.loc[1:4, 'Name':'City']

In [ ]:
df

Изменение значения ячейки. Если нет указанного индекса в `DataFrame`'е, то добавляется новая строка

In [ ]:
df.loc[11, 'Name'] = 'NewName'
df

In [ ]:
df.iloc[2, 0] = 'NewName'
df

In [ ]:
df.drop(df.index[df.index==11], axis=0, inplace=True) # удаление по индексу строки
df

<a name="3d"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">d. Группировка</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3c">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3e">Далее</a></div>
    </div>
</div>

In [ ]:
# исходный датафрейм
df = init_df()
df

In [ ]:
# дополнительные столбцы
salary = [10, 40, 50, 30, 70, 49]
marital_status = [True, False, True, True, True, False]

# создание нового датафрейма со столбцами salary и marital_status
df_group = df.copy()
df_group['Salary'] = salary
df_group['Marriage'] = marital_status
df_group

In [ ]:
# итеративный объект с группами по значению столбца
groupby = df_group.groupby('Gender')
groupby

In [ ]:
# вывод групп
for i, group in groupby:
    print(i)
    print(group)

In [ ]:
# количество строк в каждой группе
groupby.size()

In [ ]:
# группировка по нескольким столбцам
groupby_2 = df_group.groupby(['Gender', 'Marriage'])

# вывод
for i, group in groupby_2:
    print(i)
    print(group)

In [ ]:
# доступ к конкретной группе 
df2 = groupby.get_group('f')
df2

In [ ]:
groupby_2.get_group(('f', False))

<p>Фильтр для групп</p>

In [ ]:
# исходный датафрейм
df_group

In [ ]:
# Возвращает DataFrame с группами, в которых сумма Grade > 10
df_group\
    .groupby('Gender')\
    .filter(lambda group: group.Grade.sum() > 10)

<p>Агрегирование в группах</p>

In [ ]:
# исходный датафрейм
df2 = df_group[['Gender', 'Grade', 'Salary']]
df2

In [ ]:
# использование aggregate c udf функцией
df2\
    .groupby('Gender')\
    .aggregate(lambda group: group.mean())  # .agg - сокращение

In [ ]:
# использование aggregate cо стандартной функцией
df2\
    .groupby('Gender')\
    .agg('sum')

In [ ]:
# использование sum для групп
df2\
    .groupby('Gender')\
    .sum()

In [ ]:
# если нужены только определенные столбцы
df2\
    .groupby('Gender')[['Salary']]\
    .sum()

In [ ]:
# TODO: "Salary": "sum", "Grade": "min"
df2\
    .groupby('Gender')\
    .agg({'Salary': 'sum', 'Grade': ['min', 'max']})

<p>Трансформация выполняется для элементов отдельных столбцов каждой группы</p>

In [ ]:
# пример операции над массивами (вычитание среднего)
# v = np.array([1,2,3])
# v - v.mean()

In [ ]:
# исходный датафрейм
df2

In [ ]:
# средние каждой группы
df2\
    .groupby('Gender')\
    .mean()

In [ ]:
# Значение элемента минус среднее значение в столбце группы
# [1,2,3]-2 = [-1,0,1]
df2\
    .groupby('Gender')\
    .transform(lambda x: x - x.mean())

In [ ]:
df2\
    .groupby('Gender')\
    .apply(lambda x: x - x.mean())

<p>Группировка данных по диапазонам значений</p>

In [ ]:
df_group['Salary']

In [ ]:
# Формирование диапазонов
salary_bins = pd.cut(df_group['Salary'], bins=[0, 30, 50, 80])
salary_bins

In [ ]:
# Создание одного диапазона
interval = pd.Interval(left=30, right=50, closed='right')
interval

In [ ]:
# Группировка по диапазонам
gr3 = df_group.groupby(salary_bins)

# Вывод одной группы
gr3.get_group(interval)

In [ ]:
# Формирование именованных диапазонов
salary_bins__named = pd.cut(
    df_group.Salary, 
    bins=[0, 30, 50, 80], 
    labels=['bad', 'medium', 'good']
)
salary_bins__named

In [ ]:
df_group['Salary_Interval'] = salary_bins__named
df_group

In [ ]:
# Группировака и доступ к одной группе
df_group\
    .groupby(salary_bins__named)\
    .get_group('medium')

In [ ]:
# Формирование диапазонов с использованием range
salary_bins__range = pd.cut(x=df_group.Salary, bins=np.arange(0, 100, 10))
salary_bins__range

In [ ]:
# Формирование диапазонов с указанием количества диапазонов
salary_bins__num = pd.cut(
    x=df_group.Salary, 
    bins=3, 
    labels=['bad','medium','good']
)
salary_bins__num

<a name="3e"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">e. Сортировка</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3d">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3f">Далее</a></div>
    </div>
</div>

In [ ]:
# исходный массив
df

In [ ]:
# Сортировка по одному столбцу (по возрастанию)
df.sort_values('Year', ascending=1)

In [ ]:
# Сортировка по одному столбцу (по убыванию)
df.sort_values('Year', ascending=0)

In [ ]:
# Сортировка по нескольким столбцам
df.sort_values(['Gender', 'Year'], ascending=[1, 0])

In [ ]:
# Наибольшие значения
df.nlargest(n=3, columns=['Grade'])

In [ ]:
# Наименьшие значения
df.nsmallest(n=3, columns=['Grade'])

<a name="3f"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">f. Сложные индексы</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3e">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3g">Далее</a></div>
    </div>
</div>

In [ ]:
# Исходные данные
data =  np.random.randint(low=0, high=101, size=(4,3))
data

In [ ]:
index1 = ['Week1', 'Week1', 'Week2', 'Week2']  # первый индекс
index2 = ['Working Days', 'Weekend', 'Working Days', 'Weekend']  # второй индекс

# Формирование датафрейма с двумя индексами
df = pd.DataFrame(
    data=data, 
    columns=['TV', 'Smartphone', 'Pendrive'], 
    index=[index1, index2])
df

<p>Доступ к данный по индексам</p>

In [ ]:
# Вывод данных по первому индексу
df.loc['Week1']

In [ ]:
# Вывод данных по двум индексам
df.loc[('Week1', 'Weekend')]

<p>Пример с суммой</p>

In [ ]:
df.sum()  # сумма по столбцам для всех индексов

In [ ]:
df.loc['Week1'].sum()  # сумма по столбцам для Week1

In [ ]:
# Сумма по столбцам за Weekend для Week1 и Week2
df.loc[[('Week1', 'Weekend'),('Week2', 'Weekend')]].sum()

<a name="3g"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">g. Объединение DataFrame'ов</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3f">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#3h">Далее</a></div>
    </div>
</div>

#### Метод `append`

In [ ]:
# Загрузка начальной версии df
df = init_df()
df

In [ ]:
# Использование списка словарей
dict_new = [
    {'Name':'Petr', 'City':'Bryansk', 'Year':1990, 'Grade':8}, 
    {'Name':'Ann', 'City':'Tehran'}
]
dict_new

In [ ]:
# ignore_index = True - в новом DataFrame будет стандартная индексация от 0.
df2 = df.append(dict_new, ignore_index=True)
df2

In [ ]:
# Добавление в конец датафрейма
df2.loc[len(df2.index)] = ['Ann', 'Tehran', np.nan, np.nan, np.nan]
df2

In [ ]:
# Использование списка последовательностей
# s1 = pd.Series(
#     data=['Petr', 'Bryansk', 1978, 5, 'm'], 
#     index=['Name', 'City', 'Year', 'Grade', 'Gender']
# )
# s2 = pd.Series(
#     data=['Ann', 'Tehran', 1997, 7, 'f'], 
#     index=['Name', 'City', 'Year', 'Grade', 'Gender']
# )

In [ ]:
# df2 = df.append([s1, s2], ignore_index=True)
# df2

#### Функция `concat`

<p>Добавление строк</p>

In [ ]:
df

In [ ]:
# Создание второго датафрейма
rows_new = [
    ['Petr', 'Bryansk', 1978, 5, 'm'], 
    ['Ann', 'Tehran', 1997, 7, 'f']
]
df2 = pd.DataFrame(
    data=rows_new, 
    columns=['Name','City','Year','Grade','Gender']
)
df2

In [ ]:
# Объединение данных двух датафреймов
df3 = pd.concat([df, df2], ignore_index=False, sort=False)
df3

In [ ]:
# Вывод строк по индексу
df3.loc[1]

In [ ]:
# Объединение данных двух датафреймов
df3 = pd.concat([df, df2], ignore_index=True)
df3

<p>Добавление ключа/индекса</p>

In [ ]:
# Добавление индекса датафрейма
df3 = pd.concat([df, df2], keys=['Table1', 'Table2'])
df3

In [ ]:
# Доступ по первому индексу
df3.loc['Table1']

In [ ]:
# Доступ по двум индексам
df3.loc[('Table1', 1)]

<p>Соединение таблиц по столбцам</p>

In [ ]:
df

In [ ]:
# Создание нового датафрейма
dict_new = {
    'Marriage_status': [True, False, True, False],
    'Salary': [12, 40, 53, 25]
}

df_right_1 = pd.DataFrame(index=[1,3,4,5], data=dict_new)
df_right_1

<p>Внешнее соединение (<b>outer join</b>) таблиц по индексу</p>

In [ ]:
# Соединение двух датафреймов
df3 = pd.concat([df, df_right_1], axis=1, join='outer')
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по индексу</p>

In [ ]:
# join = "inner" - соединение по совпадающим индексам строк
df3 = pd.concat([df, df_right_1], axis=1, join='inner')
df3

#### Функция `merge`

<p>Внешнее соединение (<b>outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = pd.merge(
    left=df, right=df_right_1,
    left_index=True, right_index=True, how='outer'
)
df3

<p>Внешнее соединение (<b>outer join</b>) таблиц по значению столбца</p>

In [ ]:
df

In [ ]:
dict_new_2 = {
    'Name': ['Sveta', 'Sveta', 'Alex', 'Alex', 'Kate', 'Vlad', 'Alice'],
    'Device': ['TV', 'Smartphone', 'TV', 'Pendrive', 'TV', 'TV', 'PC']
}

df_right_2 = pd.DataFrame(data=dict_new_2)
df_right_2

In [ ]:
df3 = pd.merge(df, df_right_2, on=['Name'], how='outer')
df3

<p>Внешнее соединение (<b>outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df

In [ ]:
dict_new_3 = {
    "ClientId":[2, 2, 3, 3, 4, 4, 10],
    "Device":["TV", "Smartphone", "TV", "Pendrive", "TV", "TV", "PC"]
}

df_right_3 = pd.DataFrame(data=dict_new_3)
df_right_3

In [ ]:
df3 = pd.merge(df, df_right_3, left_index=True, right_on="ClientId", how="outer")
df3

#### Метод `join`

<p>Внешнее соединение (<b>outer join</b>) таблиц по индексу</p>

In [ ]:
df

In [ ]:
df_right_1

In [ ]:
df3 = df.join(df_right_1, how="outer")
df3

<p>Внешнее соединение (<b>outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
dict_new_3 = {
    'ClientId': [2, 2, 3, 3, 4, 4, 10],
    'Device': ['TV', 'Smartphone', 'TV', 'Pendrive', 'TV', 'TV', 'PC']
}

df_left = pd.DataFrame(data=dict_new_3)
df_left

In [ ]:
df3 = df_left.join(other=df, on='ClientId', how='outer')
df3

<p>Левое внешнее соединение (<b>left outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = df.join(df_right_1, how='left')
df3

<p>Внешнее левое соединение (<b>left outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = df_left.join(df, on='ClientId', how='left')
df3

<p>Правое внешнее соединение (<b>right outer join</b>) таблиц по индексу</p>

In [ ]:
df3 = df.join(df_right_1, how='right')
df3

<p>Внешнее правое соединение (<b>right outer join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = df_left.join(df, on='ClientId', how='right')
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по индексу</p>

In [ ]:
df3 = df.join(df_right_1, how='inner')
df3

<p>Внутреннее соединение (<b>inner join</b>) таблиц по значениям столбцов одной таблицы и индексам другой</p>

In [ ]:
df3 = df_left.join(df, on='ClientId', how='inner')
df3

<a name="3h"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">h. Методы <i>iterrows</i>, <i>map</i>, <i>apply</i>, <i>applymap</i></div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#3g">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#4">Далее</a></div>
    </div>
</div>

<p>Использование итератора по строкам - метод <b>iterrows()</b></p>

In [ ]:
for i, row in df.iterrows():
    print(i)
    print(row)

<p>Пример</p>

In [ ]:
df2 = pd.DataFrame(columns=df.columns)  # новый DataFrame со схемой (столбцами) df
for i, row in df.iterrows():
    # Если City есть Moscow или Minsk, строка row добавляется в df2
    if row.City in ['Moscow', 'Minsk']:
        df2.loc[i] = row
        
df2

<p>Выбор/фильтрация строк посредством методов <b>apply()</b> и <b>map()</b></p>

In [ ]:
df2 = df[df["City"].apply(lambda city: city in ["Moscow", "Minsk"])]
df2

In [ ]:
# Через функцию (без lambda)
def func(city):
    return city in ["Moscow", "Minsk"]

df2 = df[df.City.apply(func)]
df2

In [ ]:
# Более простой вариант
df[df.City.isin(["Moscow", "Minsk"])]

<p>Выбор строк без нулевых значений</p>

In [ ]:
df[df.Grade.apply(lambda x: not np.isnan(x))]

In [ ]:
df[df.Grade.notnull()]

<p>Выбор строк с условием Year > 2000</p>

In [ ]:
df[df['Year'].apply(lambda year: year >= 2000)]

In [ ]:
df[df['Year']>=2000]

<p>Применение метода <b>apply()</b> для вычислений</p>

In [ ]:
data = np.random.randint(low=0, high=101, size=(3,7))
data

In [ ]:
dfA = pd.DataFrame(
    data=data, 
    columns=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"], 
    index = ["TV", "Smartphone", "Pendrive"]
)
dfA

In [ ]:
clmn_sum = dfA.apply(lambda clmns: clmns.sum(), axis=0)  # axis = 0 - выбор по столбцам
clmn_sum

In [ ]:
type(clmn_sum)

In [ ]:
# Более простой вариант
dfA.sum(axis=0)

In [ ]:
# clmn_sum.reset_index()

In [ ]:
clmn_sum.name = 'TotalByDay'
pd.DataFrame(clmn_sum)

In [ ]:
row_sum = dfA.apply(lambda row: row.sum(), axis=1)  # axis = 1 - выбор по строкам
row_sum

In [ ]:
# Более простой вариант
dfA.sum(axis=1)

In [ ]:
row_sum.name = 'TotalByDevice'
pd.DataFrame(row_sum)

In [ ]:
dfA["Working_Days"] = dfA.apply(lambda x: x[:5].sum(), axis=1)
dfA

In [ ]:
# Более простой вариант
dfA.iloc[:,:5].sum(axis=1)

In [ ]:
dfA["Weekend"] = dfA.apply(lambda x: x[5:7].sum(), axis=1)
dfA

In [ ]:
# Более простой вариант
dfA.iloc[:,5:].sum(axis=1)

In [ ]:
# Удаление столбцов Working_Days и Weekend
dfA.drop(["Working_Days","Weekend"], axis=1, inplace=True)

<p>Нормализация значений по строке через <i>apply</i></p>

In [ ]:
dfA.apply(lambda x: x/x.sum(), axis=1)

<p>Нормализация через дополнительную функцию</p>

In [ ]:
def norm(row):
    s = row.sum()
    return [el/s for el in row] # или return row/s

dfA.apply(norm, axis=1)

<p>Применение метода <b>applymap()</b></p>

In [ ]:
dfA

In [ ]:
df4 = dfA.applymap(lambda cell: cell/100)
df4

In [ ]:
# Более простой вариант
dfA / 100

<a name="4"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">4. Математическая поддержка</div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

**Рассматриваемые вопросы:**

a) операции со столбцами:с использованием матрицы, списков, словаря, последовательностей 

b) специалные методы: `count`, `min`, `max`, `sum`, `mean`, `var`, `std`, `describe`, `corr`, `cov`

<a name="4a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. Операции со столбцами</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#4">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#4b">Далее</a></div>
    </div>
</div>

In [ ]:
dfA

In [ ]:
nom_values = dfA.Mon / 100
nom_values

In [ ]:
dfA.Mon = dfA.Mon + 10
dfA

In [ ]:
sum_Mon_Tue = dfA["Mon"] + dfA["Tue"]
sum_Mon_Tue

In [ ]:
mult_Mon_Tue = dfA["Mon"] * dfA["Tue"]
mult_Mon_Tue

<p>Пример вычисления суммы по всем столбцам с циклом <i>for</i></p>

In [ ]:
dfA.columns

In [ ]:
dfA["Total"] = dfA[dfA.columns[0]]
for i in range(1, len(dfA.columns)-1):
    dfA["Total"] += dfA[dfA.columns[i]]

dfA

In [ ]:
# Удаление столбца Total
dfA.drop(["Total"], axis=1, inplace=True)
dfA

<p>Пример вычисления суммы по всем столбцам с использованием <i>apply</i></p>

In [ ]:
dfA["Total"] = dfA.apply(lambda row: row.sum(), axis=1)
dfA

In [ ]:
dfA.drop(["Total"], axis=1, inplace=True)

<p>Пример вычисления суммы по всем столбцам с использованием <i>sum</i></p>

In [ ]:
dfA["Total"] = dfA.sum(axis=1)
dfA

In [ ]:
dfA.drop(["Total"], axis=1, inplace=True)

<a name="4b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Специальные методы</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#4a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#5">Далее</a></div>
    </div>
</div>

In [ ]:
dfA

In [ ]:
dfA.count(axis=0)

In [ ]:
dfA.count(axis=1)

In [ ]:
dfA.min(axis=0)

In [ ]:
dfA.min(axis=1)

In [ ]:
dfA["Mon"].min()

In [ ]:
dfA["Mon"].idxmin()

In [ ]:
dfA.max(axis=0)

In [ ]:
dfA.max(axis=1)

In [ ]:
dfA["Mon"].idxmax()

In [ ]:
dfA.sum(axis=0)

In [ ]:
dfA.sum(axis=1)

In [ ]:
dfA["Mon"].sum()

In [ ]:
dfA.mean(axis=0)

In [ ]:
dfA.mean(axis=1)

In [ ]:
dfA["Mon"].mean()

In [ ]:
dfA.var(axis=0)

In [ ]:
dfA.var(axis=1)

In [ ]:
dfA.std(axis=1)

In [ ]:
dfA["Mon"].std()

In [ ]:
dfA.describe()

In [ ]:
dfA["Mon"].describe()

In [ ]:
dfA.corr()

In [ ]:
dfA.cov()

<a name="5"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">5. Визуализация данных</div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

<div>
<p><b>Рассматриваемые вопросы:</b></p>
<p style="line-height:20pt">
a) построение графиков (plot)</i><br> 
b) построение гистограмм<br> 
</p>
</div>

<a name="5a"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">a. График (plot)</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#5">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#5b">Далее</a></div>
    </div>
</div>

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
dfA

In [ ]:
dfA.T.plot(style='o-')
plt.title('TV vs Smartphone')
plt.grid(True)
plt.xlabel("Day of the Week")
plt.ylabel("Count")
plt.show()

In [ ]:
fig, ax = plt.subplots(1, 1)
ax.set_title('TV vs Smartphone')
ax = dfA.T.plot.line(style='o-', ax=ax)
ax.set_xlabel("Day of the Week")
ax.set_ylabel("Count")
ax.grid(True)

In [ ]:
ax = dfA.T[['TV', 'Smartphone']].plot(style='o-', title='TV vs Smartphone')
ax.set_xlabel("Day of the Week")
ax.set_ylabel("Count")
ax.grid(True)

<a name="5b"></a>
<div style="padding-top:10px;">
    <div style="display: inline-block; font-style:italic; font-weight:bold; font-size:12pt">b. Гистограмма</div>
    <div style="display: inline-block; float:right; width:20%; text-align:center; border:1px solid lightgrey">
        <div style="display: inline-block; text-align:center; width:50%; background-color:whitesmoke;"><a href="#5a">Назад</a></div><div style="display: inline-block; text-align:center; width:50%;"><a href="#6">Далее</a></div>
    </div>
</div>

In [ ]:
hists = dfA.hist(
    bins=10, 
    color="orange", 
    figsize=(12,8), 
    density=False, 
    sharex=False
)
plt.tight_layout()
plt.show()

In [ ]:
hist = dfA.T.hist(bins=4)
plt.tight_layout()

In [ ]:
hist = dfA.plot.hist(bins=10, alpha=0.5)

<a name="6"></a>
<div style="display:table; width:100%; padding-top:10px; padding-bottom:10px; border-bottom:1px solid lightgrey">
    <div style="display:table-row">
        <div style="display:table-cell; width:80%; font-size:14pt; font-weight:bold">6. Источники</div>
    	<div style="display:table-cell; width:20%; text-align:center; background-color:whitesmoke; border:1px solid lightgrey"><a href="#0">К содержанию</a></div>
    </div>
</div>

<div><p>Документация</p>
<a href="https://pandas.pydata.org/pandas-docs/version/0.25.1/index.html">Pandas 0.25.1 documentation. Index</a><br>

<p>Разбор функциональных возможностей</p>
<a href="http://pandas.pydata.org/pandas-docs/stable/dsintro.html">Intro to Data Structures</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/indexing.html">Indexing and Selecting Data</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/io.html">IO Tools (Text, CSV, HDF5, ...)</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/groupby.html">Group By: split-apply-combine</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/advanced.html">MultiIndex / Advanced Indexing</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/merging.html">Merge, join, and concatenate</a><br>
<a href="http://pandas.pydata.org/pandas-docs/stable/merging.html">Essential Basic Functionality</a><br>
<a href="https://s3.amazonaws.com/quandl-static-content/Documents/Quandl+-+Pandas,+SciPy,+NumPy+Cheat+Sheet.pdf">NumPy / SciPy / Pandas Cheat Sheet</a><br>
<a href="http://www.swegler.com/becky/blog/2014/08/06/useful-pandas-snippets/">Useful Pandas Snippets</a><br>
<a href="http://chrisalbon.com/python/pandas_apply_operations_to_dataframes.html">Applying Operations Over pandas Dataframes</a><br>
<a href="http://nbviewer.jupyter.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/01%20-%20Lesson.ipynb">Pandas. Lesson 1</a><br>
<a href="http://chrisalbon.com/python/pandas_dropping_column_and_rows.html">Dropping Rows And Columns In pandas Dataframe</a><br>
<a href="http://chrisalbon.com/python/pandas_dataframe_descriptive_stats.html">Descriptive Statistics For pandas Dataframe</a><br>

<p>Примеры использования</p>
<a href="http://synesthesiam.com/posts/an-introduction-to-pandas.html">An Introduction to Pandas (weather analysis)</a><br>
<a href="http://pbpython.com/excel-pandas-comp.html">Common Excel Tasks Demonstrated in Pandas</a><br>
<a href="http://wavedatalab.github.io/datawithpython/aggregate.html">Using Pandas for Analyzing Data - Grouping and Aggregating</a><br>
<a href="http://dataconomy.com/14-best-python-pandas-features/">14 BEST PYTHON PANDAS FEATURES</a><br>
<a href="http://www.randalolson.com/2012/08/06/statistical-analysis-made-easy-in-python/">Statistical analysis made easy in Python with SciPy and pandas DataFrames</a><br>
</div>